---
interface Props {
  bg?: string;
  text?: string;
}

const { bg, text } = Astro.props;
---

<!-- this is a component to encapsulate full vh sections -->
<section class:list={['fh-section section origin-center', bg || 'bg-gray']}>
  <div class="inner-section">
    <h1><span class="text-gradient">{text}</span></h1>
  </div>
  <slot />
</section>
<style>
  .fh-section {
    min-height: 80vh;
    min-width: 80vw;
    position: absolute;
    top: 10vh;
    left: 10vw;
    box-shadow: 12px 9px 20px 6px rgb(0 0 0 / 50%);

    /* transform: translate(-50%, -50%) rotate3d(1, 1, 1, 45deg); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 350px;
  }
</style>
