---
export const prerender = false;
import ConversationList from '../vue/ConversationList.vue';
const navItems = [{ name: 'Home', href: '/' }];

// You would typically get this from your auth service
const isLoggedIn = false;
// get sessions from api endpoint
const sessions = [];
const baseURL = new URL(Astro.request.url).origin;
// const response = await fetch(`${baseURL}/api/session/get`);
// const data = await response.json();
// console.log(data);
const message = 'Astro is awesome!';
---

<nav class="bg-white shadow-lg">
  {
    navItems.map((item) => (
      <a href class="block px-4 py-2 text-gray-800 hover:bg-gray-100" href={item.href}>
        {item.name}
      </a>
    ))
  }

  <div>sidebar</div>
  <ConversationList baseURL={baseURL} client:only="vue" />
</nav>

<script define:vars={{ baseURL }}></script>
