---
import Layout from '../layouts/Layout.astro';
import Section from '../components/astro/Section.astro';
import VueComponent from '../components/vue/VueComponent.vue';
import SvgWrapper from '../components/vue/SvgWrapper.vue';
---

<Layout title="Welcome to Astro.">
  <main>
    <!-- <VueComponent client:only="vue" /> -->
    <Section bg="bg-red-500" text="">
      <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
        <h2 class="text-2xl font-bold mb-4 text-gray-800">Important Reminders:</h2>
        <ol class="list-decimal pl-5 space-y-2">
          <li class="text-gray-700">Don't forget to un-pause the Supabase project</li>
          <li class="text-gray-700">
            Don't forget to set <code class="bg-gray-200 px-1 rounded">client:only="vue"</code> while
            calling your Vue components
          </li>
          <li class="text-gray-700">Astro components are not reactive, use Vue ones</li>
        </ol>
      </div>
    </Section>
    <!-- <Section bg="bg-orange-50" text="it Simple.">
      <div>
        <SvgWrapper client:only="vue" numOfSvgs={6} />
      </div>
    </Section>
    <Section bg="bg-orange-500" text="it Simple.">
      <div>
        <SvgWrapper client:only="vue" numOfSvgs={6} />
      </div>
    </Section> -->
    <!-- <Section bg="bg-blue-50" text="Contact us" />
    <Section bg="bg-red-50" text="it Simple." />
    <Section bg="bg-teal-50" text="Contact us" />
    <Section bg="bg-pink-50" text="it Simple." />
    <Section bg="bg-lime-50" text="Contact us" />
    <Section bg="bg-sky-50" text="it Simple." />
    <Section bg="bg-emerald-50" text="Contact us" /> -->
  </main>
</Layout>

<style>
  html,
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #1d1f25;
  }
  html {
    /* remove scrollbar */
    scrollbar-width: none;
  }
  main {
    margin: 0;
    background-color: rgb(206, 206, 206);
    position: absolute;
    transform: rotateX(11deg) rotateY(11deg) rotateZ(-4deg) translateX(0px);
    transform-style: preserve-3d;
    perspective: 350px;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>

<script></script>
